:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --theme-dark-blue: #0460bd;
  --console-bg: #fff;
  --console-fg: #000;
  --console-dark-bg: #202020;
  --console-dark-fg: #d9e4ec;

  --corner: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
