:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --theme-dark-blue: #0460bd;
  --console-bg: #e0e0e0;
  --console-fg: #000;

  --corner: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  padding: 1rem;
  box-sizing: border-box;
}
